# if you want to use this file in your actual tool changer then remove the `example_` from the filename.

# This file contains common pin mappings for the BIGTREETECH EBBT1
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBT4]
canbus_uuid:6cce0f8f80f9 #8170dfa83388
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 8170dfa83388 -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 8170dfa83388 -f ~/klipper/out/klipper.bin
[adxl345 T4]
cs_pin: EBBT4: PB12
spi_software_sclk_pin: EBBT4: PB10
spi_software_mosi_pin: EBBT4: PB11
spi_software_miso_pin: EBBT4: PB2
axes_map: x,z,y

[temperature_sensor EBBT4]
sensor_type: temperature_mcu
sensor_mcu: EBBT4 # Change this if your MCU name is different
min_temp: 0
max_temp: 100

[extruder4]
step_pin: EBBT4: PD0
dir_pin: !EBBT4: PD1
enable_pin: !EBBT4: PD2
heater_pin: EBBT4: PB13
sensor_pin: EBBT4: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 20.38
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
control: pid
pid_Kp: 34.940   #44.282 
pid_Ki: 14.558   #18.451 
pid_Kd: 20.964
min_temp: 0
max_temp: 300
pressure_advance: 0.03
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.03

[tmc2209 extruder4]
uart_pin: EBBT4: PA15
run_current: 0.650
stealthchop_threshold: 0

[heater_fan T4_hotend_fan]
pin: EBBT4: PA0
heater: extruder4
heater_temp: 50.0

[fan_generic T4_partfan]
pin: EBBT4: PA1

[gcode_macro T4]
variable_active: 0
variable_color: ""
variable_spool_id: None
gcode:
    SELECT_TOOL T=4
    _SYNC_SPOOLMAN T=4


#change the tool numbers to the tool you are configuring, ie T1, T1, etc
[tool T4]
#change this too
tool_number: 4
#if this were T1, then this would be extruder1, etc
extruder: extruder4
#Change T1_partfan to tool number
fan: T4_partfan
# Tool offset
gcode_x_offset: 0.143750
gcode_y_offset: 0.506250
gcode_z_offset: -0.275000
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 281.0
params_park_y: 3.5
params_park_z: 251
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'ei'
params_input_shaper_freq_x: 96.6
#params_input_shaper_damping_ratio_x: 0.1
params_input_shaper_type_y: 'ei'
params_input_shaper_freq_y: 80.6
#params_input_shaper_damping_ratio_y: 0.1

[tool_probe T4]
pin: ^EBBT4:PB6
tool: 4
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -1.117 # Z axis-sensor relative nozzle offset
# drop_first_result: True # enable is on danger-klipper
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder4 TEMP=150

[neopixel T4]
pin: EBBT4:PD3
color_order: GRBW
chain_count: 23
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 0.0